
body{
    background-color: #121133;
    font-family: 'Montserrat';
    text-align: center;
    margin: 10px;
}
h1, h2 {color: #eee0e0}
h1 {
    font-family: 'Montserrat Black';
    font-size: 58px;
}


.padding7-15 {padding: 7% 15%;}
.padding15 {padding: 15%;}
.padding-A {padding-bottom: 20px;}
img {width: 120px; height: 120px;}


